@font-face {
  font-family: 'Exo2.0-Thin';
  src: local('Exo2.0-Thin'), url('../fonts/Exo2.0-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'trebuchetms';
  src: local('trebuchetms'), url('../fonts/trebuchetms.ttf') format('truetype');
}
